<div class="w-full mx-auto relative z-[9999]" id="searchContainer" #searchContainer>
    <div class="relative group">
        <div>
            <svg
                    class="transition duration-500 ease-in-out hover:shadow-lg absolute left-3 top-1/2 -translate-y-1/2 w-4 h-4 text-gray-500 dark:text-gray-400 z-10"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 20 20"
            >
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>

            <input
                    type="text"
                    (focus)="onFocusSearch()"
                    [formControl]="searchControl"
                    [placeholder]="'search.placeholder' | translate"
                    class="w-full ps-8 text-left py-2 border-2 border-gray-300 dark:border-gray-600 dark:bg-gray-800 dark:text-white focus:outline-none focus:border-indigo-500 transition duration-500 ease-in-out md:w-[400px] cursor-pointer"
                    maxlength="12"
            />

        </div>

        <div *ngIf="(filteredUsers$ | async) as users; else noResults" id="suggestionsList"
             [hidden]="!showSuggestions"
             class="absolute w-full bg-white dark:bg-gray-900 rounded-md z-[9999] border-gray-200 dark:border-gray-700 mt-1">

            <ul *ngIf="searchControl.value && users.length > 0; else noResults">
                <li *ngFor="let user of users"
                    class="flex items-center px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-800 border border-indigo-800">
                    <img class="w-10 h-10 rounded-full mr-3"
                         [src]="user.photoURL ?? 'assets/images/image-placeholder.png'" alt="{{ user.displayName }}"/>
                    <div class="flex-grow">
                        <div class="font-medium text-gray-700 dark:text-white">{{ user.displayName }}</div>
                    </div>
                    <button
                            class="ml-4 hover:text-indigo-500 disabled:text-gray-400"
                            (click)="onAddFriend(user)"
                            [disabled]="isAlreadyFriendOrRequested(user.uid)"
                    >
                        <mat-icon>add</mat-icon>
                    </button>

                </li>
            </ul>
        </div>

        <ng-template #noResults>
            <div *ngIf="searchControl.value" class="text-center px-4 py-2 text-gray-700">
                {{ 'search.noResults' | translate }}
            </div>
        </ng-template>
    </div>
</div>
