<!-- Generate or join a room -->
<div class="area">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>

  <div class="flex flex-col justify-center items-center text-center h-screen lg:min-h-screen">
    <!-- Option 1 -->
    <div *ngIf="showGenerateText; else roomDetails" class="animate-slideIn flex justify-center items-center p-10 transition duration-500 ease-out transform fadeOut">
      <label class="option-01 cursor-pointer bounce py-5 px-4 md:py-10 md:px-10 bg-white rounded-lg shadow-lg hover:bg-gray-300 transition duration-300 ease-in-out" (click)="toggleRoomDetails()">
        <span class="text-lg md:text-2xl lg:text-3xl font-bold text-gray-700">Generate a room</span>
      </label>
    </div>

    <!-- Room details form template -->
    <ng-template #roomDetails>
      <div class="container mx-auto p-8" [class.hidden]="!showRoomDetails" class="animate-slideOut mb-10">
        <div class="z-2000 w-full max-w-4xl mx-auto bg-white shadow-xl rounded-xl p-8 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:shadow-2xl">
          <div class="text-center mb-6">
            <span class="text-lg font-medium"
              >Room Code: <strong>{{ roomCode }}</strong></span
            >
          </div>

          <form>
            <div class="mb-6">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="roomName">Room's name</label>
              <input
                autocomplete="off"
                [(ngModel)]="roomName"
                name="roomName"
                id="roomName"
                type="text"
                placeholder="Name of the room"
                required
                maxlength="12"
                #roomNameField="ngModel"
                class="transition duration-500 ease-in-out transform border-2 border-gray-300 focus:border-blue-500 rounded-lg w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none"
              />

              <div *ngIf="roomNameField.errors?.['required'] && roomNameField.dirty" class="text-red-500 text-xs italic mt-2">You have to give name for the room!</div>
            </div>

            <div class="mb-6">
              <label class="block text-gray-700 text-sm font-bold mb-2">Time limit (<span class="text-sm">hr/hrs</span> )</label>
              <select
                [(ngModel)]="selectedTimeLimit"
                name="selectedTimeLimit"
                class="block appearance-none w-full bg-white border-2 border-gray-300 hover:border-gray-400 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
              >
                <option value="1">60 min</option>
                <option value="6">6 hour</option>
                <option value="12">12 hour</option>
                <option value="24">24 hour</option>
              </select>
            </div>

            <div class="mb-6">
              <label class="block text-gray-700 text-sm font-bold mb-2">Type of the vote</label>
              <select
                [(ngModel)]="selectedVoteType"
                name="selectedVoteType"
                class="block appearance-none w-full bg-white border-2 border-gray-300 hover:border-gray-400 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
              >
                <option>Picture based</option>
                <option>Text based</option>
              </select>
            </div>

            <div class="flex items-center justify-center mb-5">
              <label for="anonymousCheckbox" class="text-lg font-medium text-gray-800 mr-2">Anonymous:</label>
              <input
                type="checkbox"
                id="anonymousCheckbox"
                [(ngModel)]="isAnonymous"
                [ngModelOptions]="{ standalone: true }"
                class="rounded border-gray-300 text-indigo-600 shadow focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
              />
            </div>

            <!-- Friend List Component -->
            <ng-container *ngIf="currentUser">
              <h2 class="text-slate-700 hover:text-blue-500 font-bold leading-normal mb-1 font-semibold cursor-pointer" (click)="toggleFriendList()">
                <strong>Invite friends: <span class="text-sm">(click)</span></strong>
              </h2>
              <div *ngIf="showFriendList">
                <app-friend-list [friends]="currentUser.friendList"></app-friend-list>
              </div>
            </ng-container>

            <div class="flex items-center mt-3 justify-center">
              <button
                (click)="createRoom()"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transform hover: transition duration-300 ease-in-out"
                type="button"
              >
                Generate the room
              </button>
            </div>
          </form>
        </div>
      </div>
    </ng-template>

    <!-- 'Join a room' button -->
    <div *ngIf="!showRoomForm" class="animate-slideOut w-full md:w-1/2 flex justify-center items-center p-10 md:p-10">
      <label class="option-02 cursor-pointer bounce py-5 px-4 md:py-10 md:px-10 bg-white rounded-lg shadow-lg hover:bg-gray-300 transition duration-300 ease-in-out" (click)="toggleRoomForm()">
        <span class="text-lg md:text-2xl lg:text-3xl font-bold text-gray-700">Join a room</span>
      </label>
    </div>

    <!-- Room Join Form, shown when 'showRoomForm' is true -->
    <ng-container *ngIf="showRoomForm">
      <div class="animate-slideIn mx-auto p-8">
        <div class="w-full max-w-md mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:shadow-2xl">
          <form>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm mb-2" for="roomCode"><span class="text-lg font-medium">Connect to a room by code: </span></label>
              <input
                [(ngModel)]="enteredRoomCode"
                [ngModelOptions]="{ standalone: true }"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="roomCode"
                type="text"
                placeholder="Enter the room code..."
              />
            </div>
            <div class="flex items-center justify-center text-center">
              <button (click)="joinRoom()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button"><span>Join</span></button>
            </div>

            <!-- Your rooms list with RouterLink -->
            <div *ngIf="showRoomForm">
              <div *ngIf="userRooms.length > 0" class="mx-auto p-8">
                <h3 class="text-lg font-medium text-gray-700 mb-4">Your rooms:</h3>
                <ul class="list-none pl-5">
                  <li *ngFor="let room of userRooms" class="mb-2">
                    <a [routerLink]="['/room', room.roomId]" class="text-blue-500 hover:text-blue-700 cursor-pointer"> {{ room.roomName }} (Code: {{ room.roomId }}) </a>
                  </li>
                </ul>
              </div>
            </div>
          </form>
        </div>
      </div>
    </ng-container>
  </div>
</div>
