<div *ngIf="isLoading" class="fixed inset-0 flex items-center justify-center z-50">
    <div class="relative w-16 h-16">
        <div class="absolute inset-0 rounded-full border-4 border-indigo-500 border-t-transparent animate-spin "></div>
        <span class="sr-only">Loading...</span>
    </div>
</div>


<div class="flex flex-row min-h-screen text-gray-800 dark:text-gray-100 transition-colors duration-300 pt-20 md:pt-24 px-4 items-center justify-center">
    <div class="flex-1 max-w-full md:max-w-xl mx-auto">
        <div *ngIf="!isLoading && room"
             class="bg-white dark:bg-gray-800 rounded-xl shadow-lg p-4 transition-all duration-300 hover:shadow-xl space-y-8">
            <div>
                <div class="flex items-center justify-between flex-wrap md:flex-nowrap w-full gap-4 mb-4">
                    <button
                            (click)="goBack()"
                            type="button"
                            class="flex items-center text-gray-800 dark:text-gray-100 bg-gray-50 dark:bg-gray-700 hover:bg-gray-300 dark:hover:bg-gray-600 rounded-lg px-4 py-2 text-base font-medium shadow-sm transition duration-200"
                    >
                        <span class="material-icons-outlined">keyboard_arrow_left</span>
                        {{ 'room.back' | translate }}
                    </button>

                    <h1 class="text-2xl md:text-3xl font-extrabold text-gray-900 dark:text-gray-100 text-center mx-auto md:mx-0 pt-4">
                        {{ 'room.name' | translate }}:
                        <span class="text-indigo-500" title="{{ room.creator.displayName }}">{{ room.roomName }}</span>
                    </h1>
                </div>

                <div class="bg-gray-50 dark:bg-gray-700 p-4 rounded-xl shadow-inner space-y-4">
                    <p class=" text-gray-800 dark:text-gray-200">
                        {{ 'room.code' | translate }}:
                        <span class="text-gray-700 dark:text-gray-300">{{ room.connectionCode }}</span>
                    </p>

                    <p class=" text-gray-800 dark:text-gray-200">
                        {{ 'room.voteType' | translate }}:
                        <span class="text-indigo-500">{{ room.voteType }}</span>
                    </p>

                    <p class=" text-gray-800 dark:text-gray-200">
                        {{ 'room.timeRemaining' | translate }}:<br/>
                        <span [ngClass]="{  'text-red-600': remainingTime === 'Expired' || remainingTime === 'Lejárt',
                        'text-gray-700 dark:text-gray-300': remainingTime !== 'Expired' && remainingTime !== 'Lejárt'}">
                            <strong class="text-m">{{ remainingTime }}</strong></span>
                    </p>
                    <div class="mt-6">
                        <h3 class="text-xl  text-gray-900 dark:text-gray-100 mb-4">{{ 'room.participants' | translate }}</h3>
                        <ul class="list-none space-y-2">
                            <li *ngFor="let member of room.members" class="text-gray-800 dark:text-gray-200">
                                <strong>{{ member.displayName }}</strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div *ngIf="room?.voteType?.toLowerCase() === 'text'">

                <div *ngIf="showWaitingMessage && (remainingTime !== 'Expired' && remainingTime !== 'Lejárt')"
                     class="text-center bg-yellow-100 dark:bg-yellow-700 text-yellow-800 dark:text-yellow-100 p-4 rounded-lg shadow-md mb-4">
                    ⚠️ {{ 'room.waitingForPoll' | translate }}
                </div>

                <div *ngIf="isCreator && remainingTime !== 'Expired' && remainingTime !== 'Lejárt'">
                    <form (ngSubmit)="createPoll()" class="space-y-6 animate-fade-in-up">

                        <div class="flex justify-between items-center mb-2">
                            <label for="question" class="block text-lg font-medium text-gray-800 dark:text-gray-200">
                                {{ 'room.questionLabel' | translate }}
                            </label>
                        </div>

                        <input
                                [(ngModel)]="question"
                                name="question"
                                autocomplete="off"
                                maxlength="22"
                                type="text"
                                id="question"
                                class="transition duration-500 ease-in-out transform border-2 border-gray-300 dark:border-gray-600 focus:border-blue-500 rounded-lg w-full py-2 px-4 text-gray-700 dark:text-gray-100 bg-white dark:bg-gray-800 leading-tight focus:outline-none"
                                [placeholder]="'room.questionPlaceholder' | translate"
                        />

                        <div class="space-y-3">
                            <label class="block text-lg font-medium text-gray-800 dark:text-gray-200">
                                {{ 'room.optionsLabel' | translate }}
                            </label>

                            <div *ngFor="let option of options; let i = index; trackBy: trackByFn"
                                 class="relative mt-1 group">
                                <label [for]="'option-' + i"
                                       class="block text-sm text-gray-600 dark:text-gray-300 mb-1">
                                    {{ i + 1 }}. {{ 'room.option' | translate }}
                                </label>

                                <input
                                        maxlength="22"
                                        autocomplete="off"
                                        [(ngModel)]="options[i]"
                                        [id]="'option-' + i"
                                        [name]="'option-' + i"
                                        class="transition duration-500 ease-in-out transform border-2 border-gray-300 dark:border-gray-600 focus:border-blue-500 rounded-lg w-full py-2 px-4 text-gray-700 dark:text-gray-100 bg-white dark:bg-gray-800 leading-tight focus:outline-none"
                                        [placeholder]="'room.optionPlaceholder' | translate"
                                />

                                <button
                                        *ngIf="options.length > 2"
                                        (click)="removeOption(i)"
                                        type="button"
                                        class="absolute -translate-y-7 right-2 flex items-center text-gray-400 hover:text-red-600"
                                >
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
                                         viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                                    </svg>
                                </button>
                            </div>

                            <div class="flex flex-row justify-between">
                                <button
                                        type="button"
                                        (click)="addOption()"
                                        [disabled]="options.length >= 10"
                                        class="text-indigo-500 hover:text-indigo-700 dark:hover:text-indigo-400 transition duration-150 ease-in-out mt-2 disabled:opacity-50 disabled:cursor-not-allowed"
                                >
                                    {{ 'room.addOption' | translate }}
                                </button>
                                <span class="text-sm text-gray-600 dark:text-gray-300 text-end">{{ options.length }}
                                    /10</span>
                            </div>
                        </div>

                        <div class="mt-4">
                            <button
                                    type="submit"
                                    class="w-full px-6 py-3 text-white bg-indigo-500 rounded-lg text-lg hover:bg-indigo-600 transition duration-150 ease-in-out shadow-lg hover:shadow-md"
                            >
                                {{ 'room.createPoll' | translate }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div *ngIf="remainingTime === 'Expired' || remainingTime === 'Lejárt'" class="w-full">
                <button
                        type="button"
                        class="text-white bg-indigo-500 hover:bg-indigo-600 rounded-md py-2 px-4 text-lg shadow-sm transition duration-150 ease-in-out w-full">
                    {{ 'room.viewStats' | translate }}
                </button>
            </div>

            <div
                    *ngIf="room?.pollCreated && remainingTime !== 'Expired' && remainingTime !== 'Lejárt'"
                    class="fixed inset-0 z-10 bg-animated-light dark:bg-animated-dark"
            >
                <app-text-poll [question]="question" [options]="options"></app-text-poll>
            </div>





        </div>
    </div>
</div>
