<div class="mb-5 w-full max-w-xs mx-auto" id="searchContainer">
  <div class="relative group">
    <!-- SVG Search Icon -->
    <div style="position: relative; display: flex; align-items: center" class="mt-4">
      <svg
        class="transition duration-500 ease-in-out group-hover:-translate-y-3 hover:shadow-lg absolute left-3 top-1/2 -translate-y-1/2 w-4 h-4 text-gray-500 dark:text-gray-400 z-10"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 20 20"
      >
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
      </svg>

      <!-- Input Field -->
      <input
        type="text"
        (focus)="showSuggestions = true"
        [formControl]="searchControl"
        placeholder="Search for friends!"
        class="text-center pl-10 pr-4 py-2 border-2 border-gray-300 rounded-full focus:outline-none focus:border-indigo-500 transition duration-500 ease-in-out w-full group-hover:-translate-y-1 hover:shadow-lg"
        maxlength="12"
        />
    </div>
    <div *ngIf="filteredUsers$ | async as users" id="suggestionsList" class="absolute w-full bg-white rounded-md shadow-lg z-10">
      <ul *ngIf="searchControl.value && users.length > 0; else noResults">
        <li *ngFor="let user of users" class="flex items-center px-4 py-2 hover:bg-gray-100">
          <img class="w-10 h-10 rounded-full mr-3" [src]="user.photoURL ?? 'assets/images/image-placeholder.png'" alt="{{ user.displayName }}" />
          <div class="flex-grow">
            <div class="font-medium text-gray-700">{{ user.displayName }}</div>
            <!-- Add more user details here if needed -->
          </div>
          <!-- Plus icon button -->
          <button class="ml-4 hover:text-indigo-500" (click)="onAddFriend(user)">
            <mat-icon>add</mat-icon>
          </button>
        </li>
      </ul>

      <ng-template #noResults>
        <div *ngIf="searchControl.value" class="text-center px-4 py-2 text-gray-700">There is no such user😞</div>
      </ng-template>
    </div>
  </div>
</div>
