<div class="w-full max-w-xs mx-auto" id="searchContainer">
  <div class="relative">
    <input
      type="text"
      (focus)="showSuggestions = true"
      [formControl]="searchControl"
      placeholder="Search for friends!"
      class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"
    />
    <div *ngIf="filteredUsers$ | async as users" id="suggestionsList" class="absolute w-full bg-white rounded-md shadow-lg z-10">
      <ul *ngIf="searchControl.value && users.length > 0; else noResults">
        <li *ngFor="let user of users" class="flex items-center px-4 py-2 hover:bg-gray-100">
          <img class="w-10 h-10 rounded-full mr-3" [src]="user.photoURL ?? 'assets/images/image-placeholder.png'" alt="{{ user.displayName }}" />
          <div class="flex-grow">
            <div class="font-medium text-gray-700">{{ user.displayName }}</div>
            <!-- Add more user details here if needed -->
          </div>
          <!-- Plus icon button -->
          <button class="ml-4 hover:text-indigo-500" (click)="onAddFriend(user)">
            <mat-icon>add</mat-icon>
          </button>
        </li>
      </ul>

      <ng-template #noResults>
        <div *ngIf="searchControl.value" class="px-4 py-2 text-gray-700">Nincs ilyen user</div>
      </ng-template>
    </div>
  </div>
</div>
