<div class="min-h-screen px-4 pb-10 overflow-y-auto flex items-center justify-center text-center">
    <div *ngIf="showGenerateText; else roomDetails" class="flex flex-col md:flex-row justify-center items-center gap-12 sm:gap-48 p-6 sm:p-10">

        <label class="animate-slideIn w-[260px] h-[140px] flex justify-center items-center cursor-pointer bg-white rounded-lg shadow-lg hover:bg-gray-300 transition duration-300 ease-in-out text-center" (click)="toggleRoomDetails()">
                <span class="text-xl sm:text-2xl font-bold text-gray-700">
                  {{ 'room.generateRoom' | translate }}
                </span>
        </label>

        <label class="animate-slideIn w-[260px] h-[140px] flex justify-center items-center cursor-pointer bg-white rounded-lg shadow-lg hover:bg-gray-300 transition duration-300 ease-in-out text-center" (click)="toggleRoomForm()">
            <span class="text-xl sm:text-2xl font-bold text-gray-700">
              {{ 'room.joinRoom' | translate }}
            </span>
        </label>
    </div>

    <ng-template #roomDetails>
        <div class="w-full flex justify-center" [class.hidden]="!showRoomDetails">
            <div class="w-full max-w-md bg-white shadow-xl rounded-xl p-6 sm:p-8 sm:mx-4 transition-all hover:-translate-y-1 hover:shadow-2xl">
                <div class="text-center mb-6">
        <span class="block text-gray-700 text-2xl font-bold mb-2">{{ 'room.roomCode' | translate }}:
          <strong>{{ roomCode }}</strong></span>
                </div>
                <form>
                    <div class="mb-6">
                        <label class="block text-gray-700 text-sm font-bold mb-2">
                            {{ 'room.roomNameLabel' | translate }}
                        </label>
                        <input [(ngModel)]="roomName"
                               name="roomName"
                               type="text"
                               required
                               maxlength="12"
                               placeholder="{{ 'room.roomNamePlaceholder' | translate }}"
                               #roomNameField="ngModel"
                               class="w-full py-2 px-4 border-2 rounded-lg focus:ring-2 focus:ring-indigo-300"
                        />
                        <div *ngIf="roomNameField.errors?.['required'] && roomNameField.dirty"
                             class="text-red-500 text-sm mt-2">
                            {{ 'room.roomNameRequired' | translate }}
                        </div>
                    </div>

                    <div class="mb-6">
                        <label class="block text-gray-700 text-sm font-bold mb-2">
                            {{ 'room.timeLimit' | translate }}
                        </label>
                        <select [(ngModel)]="selectedTimeLimit" name="selectedTimeLimit"
                                class="w-full px-4 py-2 border-2 rounded-lg">
                            <option value="1">{{ 'room.time.60min' | translate }}</option>
                            <option value="6">{{ 'room.time.6hour' | translate }}</option>
                            <option value="12">{{ 'room.time.12hour' | translate }}</option>
                            <option value="24">{{ 'room.time.24hour' | translate }}</option>
                        </select>

                    </div>

                    <div class="mb-6">
                        <label class="block text-gray-700 text-sm font-bold mb-2">
                            {{ 'room.voteType' | translate }}
                        </label>
                        <select [(ngModel)]="selectedVoteType" name="selectedVoteType"
                                class="w-full px-4 py-2 border-2 rounded-lg">
                            <option value="picture">{{ 'room.voteTypeOptions.picture' | translate }}</option>
                            <option value="text">{{ 'room.voteTypeOptions.text' | translate }}</option>
                        </select>
                    </div>

                    <div class="flex items-center justify-center mb-6">
                        <label for="anonymousCheckbox" class="text-lg font-medium text-gray-800 mr-2">
                            {{ 'room.anonymous' | translate }}
                        </label>
                        <input type="checkbox" id="anonymousCheckbox" [(ngModel)]="isAnonymous"
                               [ngModelOptions]="{ standalone: true }"
                               class="rounded border-gray-300 text-indigo-600 shadow focus:ring-indigo-200"/>
                    </div>

                    <ng-container *ngIf="currentUser">
                        <h2 class="text-indigo-700 font-bold cursor-pointer hover:text-indigo-900"
                            (click)="toggleFriendList()">
                            {{ 'room.inviteFriends' | translate }}
                        </h2>
                        <div *ngIf="showFriendList">
                            <app-friend-list [friends]="currentUser.friendList"></app-friend-list>
                        </div>
                    </ng-container>

                    <div class="flex justify-center mt-6">
                        <button (click)="createRoom()" type="button"
                                class="bg-indigo-600 text-white py-2 px-6 rounded-lg hover:bg-indigo-700 transition">
                            {{ 'room.generate' | translate }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </ng-template>


    <ng-container *ngIf="showRoomForm">
        <div class="w-full flex justify-center px-2 sm:px-4">
            <div class="w-full max-w-md bg-white shadow-xl rounded-xl p-6 sm:p-8 mx-2 sm:mx-4 transition-all hover:-translate-y-1 hover:shadow-2xl">
                <form>
                    <div class="mb-6">
                        <label class="block text-gray-700 text-2xl font-bold mb-2" for="roomCode">
                            {{ 'room.joinWithCode' | translate }}
                        </label>
                        <input
                                [(ngModel)]="enteredRoomCode"
                                [ngModelOptions]="{ standalone: true }"
                                id="roomCode"
                                type="text"
                                placeholder="{{ 'room.roomCodePlaceholder' | translate }}"
                                class="w-full py-2 px-4 border-2 rounded-md focus:ring-2 focus:ring-indigo-300"
                        />
                    </div>

                    <div class="flex justify-center mt-6">
                        <button
                                (click)="joinRoom()"
                                type="button"
                                class="bg-indigo-600 text-white py-2 px-6 rounded-lg hover:bg-indigo-700 transition">
                            {{ 'room.join' | translate }}
                        </button>
                    </div>

                    <div *ngIf="userRooms.length > 0" class="mt-8">
                        <h3 class="text-lg font-medium text-gray-700 mb-4">
                            {{ 'room.yourRooms' | translate }}
                        </h3>
                        <ul class="list-none pl-5 text-start mx-2 sm:mx-6">
                            <li *ngFor="let room of userRooms" class="mb-2">
                                <a [routerLink]="['/room', room.roomId]"
                                   class="text-indigo-600 hover:text-indigo-800 cursor-pointer">
                                    {{ room.roomName }} (Code: {{ room.roomId }})
                                </a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </ng-container>

</div>
