mat-toolbar {
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000; /* Ezt adjuk hozzá */
}

.content {
  padding: 32px;
}

.profile-image-toolbar {
  border-radius: 100%;
  margin-right: 8px;
}
