<div class="fixed top-0 left-0 right-0 z-[9999] bg-white text-gray-800 dark:bg-gray-900 dark:text-gray-100 transition-colors duration-300 shadow-md">
    <div class="max-w-8xl mx-auto lg:flex flex-wrap items-center justify-between p-4 px-4 lg:px-24">


        <div class="flex justify-between w-full md:w-auto items-center">
            <a (click)="navigateHome()"
               class="text-2xl font-extrabold tracking-tight text-indigo-600 dark:text-indigo-400 cursor-pointer">
                VoteVibe.
            </a>


            <button (click)="toggleNavbar()" class="lg:hidden text-gray-700 dark:text-gray-200 focus:outline-none">
                <svg *ngIf="!navbarOpen" xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none"
                     viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
                </svg>
                <svg *ngIf="navbarOpen" xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none"
                     viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                </svg>
            </button>
        </div>

        <div
                class="transform transition-all duration-500 ease-in-out xl:flex xl:items-center xl:w-auto xl:space-y-0 xl:mt-0"
                [ngClass]="{
  'lg:flex xl:items-center xl:w-auto xl:space-y-0 xl:mt-0': true,
  'max-h-[1000px] opacity-100 translate-y-0 pointer-events-auto mt-4 w-full space-y-4 xl:max-h-none xl:opacity-100 xl:translate-y-0 xl:pointer-events-auto xl:mt-0 xl:space-y-0': navbarOpen,
  'lg:max-h-full lg:opacity-100 lg:-translate-y-0 max-h-0 opacity-0 -translate-y-4 pointer-events-none overflow-hidden xl:max-h-none xl:opacity-100 xl:translate-y-0 xl:pointer-events-auto xl:overflow-visible xl:space-y-0 xl:mt-0': !navbarOpen
}"

        >
            <nav class="flex flex-col lg:flex-row lg:space-x-6 items-center w-full lg:w-auto">
                <div class="flex flex-row gap-5">
                    <a *ngIf="(user$ | async)" routerLink="/home"
                       class="text-base font-medium hover:text-indigo-600 dark:hover:text-indigo-400 transition">
                        {{ 'nav.home' | translate }}
                    </a>
                    <a routerLink="/steps"
                       class="text-base font-medium hover:text-indigo-600 dark:hover:text-indigo-400 transition">
                        {{ 'nav.steps' | translate }}
                    </a>
                    <a routerLink="/game"
                       class="text-base font-medium hover:text-indigo-600 dark:hover:text-indigo-400 transition">
                        {{ 'nav.game' | translate }}
                    </a>
                    <!--                    <a (click)="logout()"-->
                    <!--                       class="text-base font-medium hover:text-indigo-600 dark:hover:text-indigo-400 transition">-->
                    <!--                        Pánik logout-->
                    <!--                    </a>-->
                </div>

                <div class="w-full flex justify-center lg:block">
                    <app-profile-search class="w-full max-w-sm md:w-auto mt-2 md:mt-0"></app-profile-search>
                </div>
                <div class="flex lg:hidden flex-col space-y-2 mt-0 pt-0">

                    <div class="flex flex-row justify-between items-center mt-2 pt-2 gap-4">
                        <ng-container *ngIf="user$ | async">
                            <div class="relative" (click)="friendRequestDropdownOpen = !friendRequestDropdownOpen"
                                 #friendDropdownRef>
                                <button class="inline-block relative text-gray-600 dark:text-gray-300 transition-transform hover:scale-110">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         class="h-6 w-6 text-gray-700 dark:text-gray-100 transition-colors duration-300 group-hover:text-indigo-800 hover:text-indigo-800 dark:hover:text-indigo-800 "
                                         fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"/>
                                    </svg>

                                    <ng-container *ngIf="combinedNotification$ | async">
                                        <span class="animate-ping absolute top-1 right-0.5 block h-2 w-2 rounded-full ring-2 ring-green-400 bg-green-600"></span>
                                        <span class="absolute top-1 right-0.5 block h-2 w-2 rounded-full ring-2 ring-green-400 bg-green-600"></span>
                                    </ng-container>
                                </button>

                                <div *ngIf="friendRequestDropdownOpen"
                                     class="absolute left-1/2 -translate-x-1/2 mt-2 w-64 bg-white dark:bg-gray-800 shadow-lg rounded-md py-2 z-50 text-sm cursor-pointer
     md:left-auto md:right-0 md:translate-x-0">

                                    <div *ngIf="incomingFriendNames.length > 0">
                                        <div *ngFor="let name of incomingFriendNames"
                                             class="px-4 py-2 text-gray-800 dark:text-gray-100 hover:bg-gray-100 dark:hover:bg-gray-700"
                                             routerLink="/profile">
                                            👤 <strong>{{ name }}</strong> {{ 'nav.friendRequestMessage' | translate }}
                                        </div>
                                    </div>

                                    <div *ngIf="roomInviteMessages.length > 0">
                                        <hr class="my-2 border-gray-300 dark:border-gray-600">
                                        <div *ngFor="let invite of roomInviteMessages"
                                             class="px-4 py-2 text-indigo-700 dark:text-indigo-300 hover:bg-gray-100 dark:hover:bg-gray-700"
                                             [routerLink]="['/home']"
                                             [queryParams]="{ openModal: 'invites' }">
                                            🗳️
                                            <strong>{{ invite.inviterName }}</strong> {{ 'nav.invitedYouTo' | translate }}
                                            <strong>{{ invite.roomName }}</strong>
                                        </div>
                                    </div>

                                    <ng-template
                                            [ngIf]="incomingFriendNames.length === 0 && roomInviteMessages.length === 0">
                                        <div class="px-4 py-2 text-gray-500 dark:text-gray-400 italic">
                                            {{ 'nav.noNotifications' | translate }}
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </ng-container>

                        <ng-container>
                            <button (click)="toggleTheme()"
                                    class="text-gray-600 dark:text-gray-300 hover:text-indigo-800 dark:hover:text-indigo-400 transition-transform hover:scale-110">
                            <span class="material-icons-outlined text-[24px]">
                                {{ themeService.isDark() ? 'light_mode' : 'dark_mode' }}
                            </span>
                            </button>
                        </ng-container>
                        <ng-container *ngIf="user$ | async as user; else mobileLogin">
                            <div class="relative self-start" (click)="toggleProfileDropdown()"
                                 style="width: max-content">
                                <div class="w-12 h-12 rounded-full overflow-hidden border-2 border-indigo-600 cursor-pointer">
                                    <img width="48" height="48"
                                         class="w-full h-full object-cover"
                                         [src]="user?.photoURL ?? 'assets/images/image-placeholder.png'"
                                         alt="Profile" loading="eager"/>
                                </div>


                                <div *ngIf="profileDropdownOpen"
                                     class="absolute left-0 mt-2 w-48 bg-white dark:bg-gray-800 shadow-lg rounded-md py-2 z-50">
                                    <a routerLink="/profile"
                                       class="block px-4 py-2 text-gray-700 dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700">
                                        {{ 'nav.profile' | translate }}
                                    </a>
                                    <button (click)="logout(); $event.stopPropagation()"
                                            class="w-full text-left block px-4 py-2 text-gray-700 dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700">
                                        {{ 'nav.logout' | translate }}
                                    </button>
                                </div>
                            </div>
                        </ng-container>


                        <ng-template #mobileLogin>
                            <a routerLink="/login" class="text-base hover:text-indigo-600 dark:hover:text-indigo-400">
                                {{ 'nav.login' | translate }}
                            </a>
                        </ng-template>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hidden lg:flex lg:items-center lg:space-x-4 lg:mt-0">
            <ng-container>
                <button (click)="toggleTheme()"
                        class="text-gray-600 dark:text-gray-300 hover:text-indigo-800 dark:hover:text-indigo-400 transition-transform hover:scale-110">
                            <span class="material-icons-outlined text-[24px]">
                                {{ themeService.isDark() ? 'light_mode' : 'dark_mode' }}
                            </span>
                </button>
            </ng-container>

            <div class="hidden lg:flex lg:items-center lg:space-x-4 lg:mt-0">
                <ng-container *ngIf="user$ | async">
                    <div class="relative" (click)="friendRequestDropdownOpen = !friendRequestDropdownOpen"
                         #friendDropdownRef>
                        <button class="inline-block relative text-gray-600 dark:text-gray-300 transition-transform hover:scale-110">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 class="h-6 w-6 text-gray-700 dark:text-gray-100 transition-colors duration-300 group-hover:text-indigo-800 hover:text-indigo-800 dark:hover:text-indigo-800"
                                 fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"/>
                            </svg>

                            <ng-container *ngIf="combinedNotification$ | async">
                                <span class="animate-ping absolute top-1 right-0.5 block h-2 w-2 rounded-full ring-2 ring-green-400 bg-green-600"></span>
                                <span class="absolute top-1 right-0.5 block h-2 w-2 rounded-full ring-2 ring-green-400 bg-green-600"></span>
                            </ng-container>
                        </button>

                        <div *ngIf="friendRequestDropdownOpen"
                             class="absolute right-0 mt-2 w-64 bg-white dark:bg-gray-800 shadow-lg rounded-md py-2 z-50 text-sm cursor-pointer">

                            <div *ngIf="incomingFriendNames.length > 0">
                                <div *ngFor="let name of incomingFriendNames"
                                     class="px-4 py-2 text-gray-800 dark:text-gray-100 hover:bg-gray-100 dark:hover:bg-gray-700"
                                     routerLink="/profile">
                                    👤 <strong>{{ name }}</strong> {{ 'nav.friendRequestMessage' | translate }}
                                </div>
                            </div>

                            <div *ngIf="roomInviteMessages.length > 0">
                                <hr class="my-2 border-gray-300 dark:border-gray-600">
                                <div *ngFor="let invite of roomInviteMessages"
                                     class="px-4 py-2 text-indigo-700 dark:text-indigo-300 hover:bg-gray-100 dark:hover:bg-gray-700"
                                     [routerLink]="['/home']"
                                     [queryParams]="{ openModal: 'invites' }">
                                    🗳️ <strong>{{ invite.inviterName }}</strong> {{ 'nav.invitedYouTo' | translate }}
                                    <strong>{{ invite.roomName }}</strong>
                                </div>
                            </div>


                            <ng-template [ngIf]="incomingFriendNames.length === 0 && roomInviteMessages.length === 0">
                                <div class="px-4 py-2 text-gray-500 dark:text-gray-400 italic">
                                    {{ 'nav.noNotifications' | translate }}
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </ng-container>


                <ng-container *ngIf="user$ | async as user; else loginButtons">
                    <div class="relative" (click)="toggleProfileDropdown()">
                        <div class="w-12 h-12 rounded-full overflow-hidden border-2 border-indigo-600 cursor-pointer">
                            <img width="48" height="48"
                                 class="w-full h-full object-cover"
                                 [src]="user?.photoURL ?? 'assets/images/image-placeholder.png'"
                                 alt="Profile" loading="eager"/>
                        </div>
                        <div *ngIf="profileDropdownOpen"
                             class="absolute right-0 mt-2 w-48 bg-white dark:bg-gray-800 shadow-lg rounded-md py-2 z-50">
                            <a routerLink="/profile"
                               class="block px-4 py-2 text-gray-700 dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700">
                                {{ 'nav.profile' | translate }}
                            </a>
                            <button (click)="logout(); $event.stopPropagation()"
                                    class="w-full text-left block px-4 py-2 text-gray-700 dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700">
                                {{ 'nav.logout' | translate }}
                            </button>
                        </div>


                    </div>
                </ng-container>


                <ng-template #loginButtons>
                    <a routerLink="/login"
                       class="text-base font-medium hover:text-indigo-600 dark:hover:text-indigo-600">
                        {{ 'nav.login' | translate }}
                    </a>
                </ng-template>
            </div>
        </div>
    </div>
</div>