<!-- text-poll.component.html -->
<div class="result h-full relative">
    <h1 class="text-white text-2xl lg:text-4xl mx-auto my-30 text-lg absolute left-0 right-0 top-35 mx-auto text-center z-30 lg:text-2xl xl:text-3xl xl:top-24">{{ question }}</h1>
  <div class="absolute inset-0 z-20 bg-gradient-to-b from-black to-transparent"></div>
  <div class="absolute inset-x-0 bottom-0 z-20 bg-gradient-to-t from-black to-transparent h-1/4"></div>

  <label class="flex flex-col bg-center bg-cover cursor-pointer h-1/2 relative text-center w-full lg:float-left lg:h-full lg:w-1/2 group">
    <span class="text-white text-2xl font-bold relative z-30 m-auto px-12 lg:text-4xl xl:text-7xl">{{ remainingOptions[0] }}</span>
    <div class="percentage text-white font-bold m-auto relative z-30 text-4xl lg:text-7xl xl:text-8xl hidden"></div>
    <div class="absolute inset-0 bg-black/80 z-20"></div>
    <div class="absolute inset-0 z-20 bg-gradient-to-b from-black/50 to-transparent group-hover:bg-gray-800 transition duration-150 ease-out"></div>
  </label>

  <label class="flex flex-col bg-center bg-cover cursor-pointer h-1/2 relative text-center w-full lg:float-left lg:h-full lg:w-1/2 group">
    <span class="text-white text-2xl font-bold relative z-30 m-auto px-12 lg:text-4xl xl:text-7xl">{{ remainingOptions[1] }}</span>
    <div class="percentage text-white font-bold m-auto relative z-30 text-4xl lg:text-7xl xl:text-8xl hidden"></div>
    <div class="absolute inset-0 bg-black/80 z-20"></div>
    <div class="absolute inset-0 z-20 bg-gradient-to-t from-black/50 to-transparent group-hover:bg-gray-800 transition duration-150 ease-out"></div>
  </label>
</div>
