@import "compass/css3";

html {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html,
body,
.result {
  height: 100%;
}

.result::before,
.result::after {
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  z-index: 2;
}
.result::before {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(hsla(0,0%,0%,0.8)), to(hsla(0,0%,0%,0)));
  background: -webkit-linear-gradient(hsla(0,0%,0%,0.8) 0%, hsla(0,0%,0%,0) 100%);
  background: -moz-linear-gradient(hsla(0,0%,0%,0.8) 0%, hsla(0,0%,0%,0) 100%);
  background: -o-linear-gradient(hsla(0,0%,0%,0.8) 0%, hsla(0,0%,0%,0) 100%);
  background: linear-gradient(hsla(0,0%,0%,0.8) 0%, hsla(0,0%,0%,0) 100%);
  top: 0;
  height: 50%;
}
.result::after {
  background: -moz-linear-gradient(top,  hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 9%, hsla(0,0%,0%,0.8) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsla(0,0%,0%,0)), color-stop(9%,hsla(0,0%,0%,0)), color-stop(100%,hsla(0,0%,0%,0.8)));
  background: -webkit-linear-gradient(top,  hsla(0,0%,0%,0) 0%,hsla(0,0%,0%,0) 9%,hsla(0,0%,0%,0.8) 100%);
  background: -o-linear-gradient(top,  hsla(0,0%,0%,0) 0%,hsla(0,0%,0%,0) 9%,hsla(0,0%,0%,0.8) 100%);
  background: -ms-linear-gradient(top,  hsla(0,0%,0%,0) 0%,hsla(0,0%,0%,0) 9%,hsla(0,0%,0%,0.8) 100%);
  background: linear-gradient(to bottom,  hsla(0,0%,0%,0) 0%,hsla(0,0%,0%,0) 9%,hsla(0,0%,0%,0.8) 100%);
  bottom: 0;
  height: 20%;
}

h1 {
  color: hsl(0,0%,100%);
  font-size: 1em;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: 50px;
  text-align: center;
  z-index: 3;
  @media (min-width: 35em) {
    font-size: 2em;
  }
  @media (min-width: 75em) {
    font-size: 3em;
    top: 100px;
  }
}

label {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  height: 50%;
  position: relative;
  text-align: center;
  width: 100%;
  @media (min-width: 35em) {
    float: left;
    height: 100%;
    width: 50%;
  }
}
label:hover::before {
  background-color: hsla(0,0%,0%,.5);
}
label::before,
label::after {
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color 150ms ease-out;
}
label::before {
  background-color: hsla(0,0%,0%,.8);
  z-index: 2;
}

label > span {
  color: hsla(0,0%,100%,.9);
  display: block;
  font-size: 2em;
  font-weight: bold;
  line-height: 1em;
  margin: auto;
  padding: 0 50px;
  position: relative;
  z-index: 3;
  @media (min-width: 35em) {
    font-size: 4em;
  }
  @media (min-width: 75em) {
    font-size: 7em;
  }
}

input[type="radio"] {
  display: none;
}

.percentage {
  color: hsla(0,0%,100%,.9);
  display: none;
  font-size: 4em;
  font-weight: bold;
  margin: auto;
  position: relative;
  z-index: 3;
  @media (min-width: 35em) {
    font-size: 7em;
  }
  @media (min-width: 75em) {
    font-size: 12em;
  }
}

label.voted > span {
  bottom: 50px;
  font-size: 1em;
  position: absolute;
  @media (min-width: 35em) {
    font-size: 2em;
  }
  @media (min-width: 75em) {
    font-size: 3em;
  }
}

label.voted > .percentage {
  display: block;
}

label.voted.option-01::after {
  background-color: rgba(129,191,67,.5);
}
label.voted.option-02::after {
  background-color: rgba(191,88,67,.5);
}

label.voted::before,
label.voted:hover::before {
  background-color: hsla(0,0%,0%,.8);
}

.option-01 {
  background-image: url('http://brandonhillphotos.com/wp-content/uploads/2013/08/Bill-mixing_IMG_2073.jpg');
}

.option-02 {
  background-image: url('https://i.imgur.com/DLbK6nG.jpg');
}