<div class="result h-full relative">

    <div *ngIf="!showWinnerModal && !winnerOption"
         class="absolute inset-x-0 top-16 z-30 flex flex-col items-center px-4">

        <h1 class="mt-4 text-3xl md:text-4xl xl:text-5xl font-bold text-gray-800 dark:text-gray-100 drop-shadow-sm bg-white dark:bg-gray-900 bg-opacity-70 dark:bg-opacity-70 rounded-lg inline-block px-6 py-3 shadow-lg transition-all duration-300">
            {{ question }}
        </h1>

        <p *ngIf="remainingTime"
           class="hidden lg:flex mt-4 px-4 py-1 text-center text-xl text-gray-800 dark:text-gray-100 drop-shadow-sm bg-white dark:bg-gray-900 bg-opacity-70 dark:bg-opacity-70 rounded-lg shadow-md transition-all duration-300">
            ⏳ {{ remainingTime }} ⏳
        </p>
    </div>


    <div class="absolute inset-0 z-10"></div>
    <div class="absolute inset-x-0 bottom-0 z-10  h-1/4"></div>

    <label *ngIf="leftOption && !rightOption"
           class="flex flex-col h-full w-full justify-center items-center text-center cursor-default group">
        <span class="text-white text-3xl font-bold z-30 px-8 py-4 lg:text-5xl xl:text-6xl">
          {{ leftOption }}
        </span>
    </label>

    <!-- BAL OPCIÓ -->
    <div
            *ngIf="leftOption && rightOption"
            class="flex flex-col cursor-pointer h-1/2 relative text-center w-full lg:float-left lg:h-full lg:w-1/2 group option-hover-overlay option-left border-b lg:border-r"
            [class.option-dragged]="activeDragSide === 'left'"
            (click)="onOptionSelected(leftOption, 'left', $event)"
            (touchstart)="onTouchStart($event, 'left')"
            (touchmove)="onTouchMove($event)"
            (touchend)="onTouchEnd(leftOption, $event)"
            [ngClass]="{
                      'animate-slide-out-left': disappearSide === 'left' && disappearDirection === 'left',
                      'animate-slide-out-right': disappearSide === 'left' && disappearDirection === 'right',
                      'animate-slide-in-left': animateIncomingLeft
            }"
            [ngStyle]="activeDragSide === 'left' ? { transform: 'translateX(' + dragOffsetX + 'px)', opacity: dragOpacity } : {}">

          <span class="text-white text-2xl font-bold relative z-30 m-auto px-12 lg:text-4xl xl:text-6xl">
            {{ leftOption }}
          </span>
        <div class="absolute inset-0 z-20"></div>
        <div *ngIf="selectedSide === 'left'"
             class="firework left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2"></div>
    </div>
    <p *ngIf="remainingTime"
       class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-30  font-bold py-2 lg:hidden w-48
        text-center text-xl text-gray-800 dark:text-gray-100 drop-shadow-sm bg-white dark:bg-gray-900 bg-opacity-70 dark:bg-opacity-70 rounded-lg shadow-md transition-all duration-300">
        ⏳ {{ remainingTime }} ⏳
    </p>
    <!-- JOBB OPCIÓ -->
    <div
            *ngIf="leftOption && rightOption"
            class="flex flex-col cursor-pointer h-1/2 relative text-center w-full lg:float-left lg:h-full lg:w-1/2 group option-hover-overlay option-right border-t lg:border-l"
            [class.option-dragged]="activeDragSide === 'right'"
            (click)="onOptionSelected(rightOption, 'right', $event)"
            (touchstart)="onTouchStart($event, 'right')"
            (touchmove)="onTouchMove($event)"
            (touchend)="onTouchEnd(rightOption, $event)"
            [ngClass]="{
                      'animate-slide-out-left': disappearSide === 'right' && disappearDirection === 'left',
                      'animate-slide-out-right': disappearSide === 'right' && disappearDirection === 'right',
                      'animate-slide-in-right': animateIncomingRight
            }"
            [ngStyle]="activeDragSide === 'right' ? { transform: 'translateX(' + dragOffsetX + 'px)', opacity: dragOpacity } : {}">

        <span class="text-white text-2xl font-bold relative z-30 m-auto px-12 lg:text-4xl xl:text-6xl ">
                {{ rightOption }}
              </span>
        <div class="absolute inset-0 z-20"></div>
        <div *ngIf="selectedSide === 'right'"
             class="firework left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2"></div>
    </div>
</div>


<div *ngIf="showWinnerModal && !hasAlreadyVoted"
     class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50 p-4"
     (click)="closeWinnerModal()">
    <div class="firework-modal bg-white dark:bg-gray-800 rounded-lg p-6 shadow-xl w-full max-w-md transform transition-all duration-300 text-center relative overflow-hidden"
         (click)="$event.stopPropagation()">
        <div class="firework-sparkle"></div>
        <div class="mb-4">
            <h2 class="text-2xl font-bold text-indigo-600 dark:text-indigo-300 mb-2">
                {{ 'poll.winnerTitle' | translate }}
            </h2>
            <p class="text-lg text-gray-700 dark:text-gray-200">
                {{ 'poll.winnerIs' | translate:{option: winnerOption} }}
            </p>
        </div>
        <div class="flex justify-center">
            <button class="bg-indigo-600 hover:bg-indigo-700 text-white px-6 py-2 rounded-lg shadow transition"
                    (click)="closeWinnerModal()">
                {{ 'poll.close' | translate }}
            </button>

        </div>
    </div>
</div>


<div *ngIf="winnerOption" class="fixed inset-0 z-40 flex items-center justify-center pointer-events-none p-4">
    <div class="relative bg-white dark:bg-gray-800 rounded-lg p-6 shadow-xl w-full max-w-md transform transition-all duration-300 animate-fade-in-up text-center pointer-events-auto">

        <button
                (click)="goHome()"
                class="absolute top-2 right-4 text-gray-500 hover:text-indigo-600 dark:text-gray-300 dark:hover:text-indigo-600 text-2xl font-bold"
                aria-label="Close"
        >
            &times;
        </button>

        <p class="text-3xl font-bold text-indigo-600 dark:text-indigo-300 my-0 pb-0 pt-6">
            🏆 {{ 'poll.winnerIs' | translate:{option: winnerOption} }}
        </p>
        <p class="mt-4 text-sm text-gray-600 dark:text-gray-300">
            {{ 'poll.revoteInfo' | translate }}
        </p>
        <div class="text-center mt-0 gap-4 flex flex-row justify-between">
            <button
                    (click)="resetPollForUser()"
                    [disabled]="hasRevoted || isResettingVote"
                    class="px-6 py-2 bg-indigo-600 text-white rounded-lg hover:bg-indigo-700 disabled:opacity-50 disabled:cursor-not-allowed"
            >
                {{ 'room.revote' | translate }}
            </button>
            <button
                    class="px-6 py-2 bg-indigo-600 text-white rounded-lg hover:bg-indigo-700"
                    (click)="goToStats()"
            >
                {{ 'room.stats' | translate }}
            </button>


        </div>
    </div>
</div>


<canvas class="fireworks pointer-events-none fixed inset-0 z-50"></canvas>
<ng-container *ngIf="showHandHint && !hasAlreadyVoted && !loading">
    <div class="handswipe-top lg:hidden">
        <img src="../../../assets/images/swipe2.png" alt="Swipe gesture top icon" class="w-32 h-32"/>
    </div>

    <div class="handswipe-bottom lg:hidden">
        <img src="../../../assets/images/swipe2.png" alt="Swipe gesture bottom icon" class="w-32 h-32"/>
    </div>
</ng-container>


<div *ngIf="isResettingVote"
     class="fixed inset-0 z-40 bg-black bg-opacity-40 backdrop-blur-sm flex items-center justify-center">
    <div class="relative w-16 h-16">
        <div class="absolute inset-0 rounded-full border-4 border-indigo-500 border-t-transparent animate-spin"></div>
        <span class="sr-only">Loading...</span>
    </div>
</div>





