<div class="result h-full relative">
    <h1 class="text-white text-2xl lg:text-4xl xl:text-5xl text-center absolute inset-x-0 top-12 z-30">
        {{ question }}
    </h1>

    <div class="absolute inset-0 z-10 bg-gradient-to-b from-black to-transparent"></div>
    <div class="absolute inset-x-0 bottom-0 z-10 bg-gradient-to-t from-black to-transparent h-1/4"></div>

    <ng-container *ngFor="let option of remainingOptions.slice(0, 2); let i = index">
        <label class="flex flex-col bg-center bg-cover cursor-pointer h-1/2 relative text-center w-full lg:float-left lg:h-full lg:w-1/2 group"
               (click)="onOptionSelected(option)">
      <span class="text-white text-2xl font-bold relative z-30 m-auto px-12 lg:text-4xl xl:text-6xl">
        {{ option }}
      </span>
            <div class="percentage text-white font-bold m-auto relative z-30 text-4xl lg:text-6xl xl:text-7xl hidden"></div>
            <div class="absolute inset-0 bg-black/80 z-20"></div>
            <div class="absolute inset-0 z-20 bg-gradient-to-b from-black/50 to-transparent group-hover:bg-gray-800 transition duration-150 ease-out"></div>
        </label>
    </ng-container>
</div>
