<div class="min-h-screen flex flex-grow items-center justify-center bg-gray-50">
  <div class="rounded-lg bg-white p-8 text-center shadow-xl text-lg">
    <h1 class="mb-4 text-4xl font-bold"><span class="text-4xl">404 - Not found!</span></h1>
    <p class="text-gray-600"><strong>Oops!</strong> <br />The room you are looking for can not be reached!</p>
    <a routerLink="" class="mt-4 inline-block rounded bg-blue-500 px-4 py-2 font-semibold text-white hover:bg-blue-600"> Go back to Home </a>
  </div>
</div>
