<div class="friend-list">
  <h3 class="text-xl font-semibold mb-2" *ngIf="friends">
    Friends ({{ friends }})
  </h3>

  <div class="overflow-x-auto">
    <ul class="flex space-x-4">
      <li *ngFor="let friend of friends" class="friend-item">
        <div class="friend-avatar">
          <img
            class="w-10 h-10 rounded-full mb-4"
            [src]="friend.photoURL || '/assets/images/image-placeholder.png'"
            alt="Profile Image"
          />
        </div>
        <div class="friend-details">
          <h4>{{ friend.displayName }}</h4>
        </div>
      </li>
    </ul>
  </div>
</div>
